# Advent of Code 2021
My AoC solutions, written in Python.

<center>
<!-- {% set years = [2021, 2020, 2019] %} -->
<table style="display: inline-block;">
    <tr>
        <th>Year</th>
        <th>Days</th>
    </tr>
    {% for year in years %}
    <tr>
        <th>{{year}}</th>
        <td>
            <table>
            <tr>
                <td>{% set tag = "<a href='" ~ year ~ "day01'>" %}1</td>
                <td>{% set tag = "<a href='" ~ year ~ "day02'>" %}2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
            </tr>
            <tr>
                <td>6</td>
                <td>7</td>
                <td>8</td>
                <td>9</td>
                <td>10</td>
            </tr>
            <tr>
                <td>11</td>
                <td>12</td>
                <td>13</td>
                <td>14</td>
                <td>15</td>
            </tr>
            <tr>
                <td>16</td>
                <td>17</td>
                <td>18</td>
                <td>19</td>
                <td>20</td>
            </tr>
            <tr>
                <td>21</td>
                <td>22</td>
                <td>23</td>
                <td>24</td>
                <td>25</td>
            </tr>
            </table>
        </td>
    </tr>
    {% endfor %}
</table>
</center>